#selectable-1, #selectable-2, #sortable-1, #sortable-2, #sortable-3, #sortable-4 { 
	list-style-type: none; margin: 0 3px 3px; 
    padding: 0.4em 0.4em 0.4em 1.5em; width: 20%; 
}

#selectable-1 li, #selectable-2 li { 
	margin: 3px;
	padding: 0.4em; 
	font-size: 16px;
	height: 18px;
}

.ui-widget-content {
	background: #cedc98;
	border: 1px solid #DDDDDD;
	color: #333333;
}

#selectable-1 .ui-selected {
	background: #EEEEEE; 
    color: #000000;
}

#selectable-2 .ui-selected {
	background: #EEEEEE; 
    color: #000000;
}

.default {
    background: #cedc98;
    border: 1px solid #DDDDDD;
    color: #333333;
    padding: 0.5em;
 }
